header {
    padding: 70px;
    text-align: center;
    background: #13293d;
    color: #fff;
    border-bottom: 30px #879274;
    max-width: 100%;
}

input {
    display: block;
}

.nextto {
    display: inline-block;
}

.box {
    max-width: 100%;
    height: inherit;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
}

#weather-report {
    /* position: absolute; */
}

#forecast {
    /* position: absolute; */
}


/* ul {
    margin: 3rem auto;
    font-size: 1.75rem;
}

ul li {
    margin: 1.2rem 0;
} */